<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsHotMinimal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if ENV["HMR"] == "1" %>
      <%= javascript_include_tag "http://localhost:8080/hmr-bundle.js" %>
    <% end %>
  </body>
</html>
